
<div class="jumbotron">
	<div class="container">
	<h1>Welcome to my awesome app! good luck matt with your meeting</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
	</div>
</div>