
<div class="jumbotron">
	<div class="container">
	<h1>Welcome to my awesome app! Nicole-I am trying to be like you and code</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
	</div>
</div>